<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Not Found</title>
</head>
<body>
     {{>Nav}}
    <h1>Page not found</h1>
    <h2>Cannot find the page you entered.</h2>
</body>
</html>