<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Admin Profile</title>
</head>
<body>
    {{>Nav}}
    <h1>Your profile &#40; Admin User &#41; </h1>
    <h3>Name:{{first_name}} {{surname}}</h3>
    <h3>Email:{{email}}</h3>
    <h3>Admin:{{admin}}</h3>

    <h2>Your Account</h2>
     <div class="buttons-container">
        <button class="create"><a href="/newblog">Post</a></button>
        <button class="blogs"><a href="/userblogs">Blogs</a></button>
        <button class="change"><a href="/preupdate">Update</a></button>
        <form action="/delete" method="POST">
            <button class="delete" type="submit">Delete</button>
        </form>
    </div>

    <h2>User Accounts</h2>
    <div class="buttons-container">
        <button class="create"><a href="/admin-register">Register</a></button>
        <button class="change"><a href="/allusers">Users</a></button>
       <button class="blogs"><a href="/allblogs">Blogs</a></button> 
    </div>
</body>
</html>