<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Home</title>
</head>
<body>
    {{>Nav}}
    <p>Please log in or register</p>
    <button class="create"><a href="/register">register</a></button>
    <button class="login"><a href="/login">login</a></button>
</body>
</html>