<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Not Admin</title>
</head>
<body>
    <h1>Access Denied</h1>
    <h2>You do not have administrative access for the url you entered.</h2>
</body>
</html>