<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{>Nav}}
    <h1>Update user</h1>

    <p>Please re-submit your current email /& user password to update your profile.</p>

    <form action="/preupdate" method="POST">
         <label for="userEmail">email</label>
        <input required type="email" name="userEmail"><br/>
        <label for="userPassword">password</label><br/>
        <input required type="password" name="userPassword"><br />
        <button type="submit">submit</button>
    </form>

</body>
</html>