<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
    {{>Nav}}
    <h1>Your profile</h1>
    <h3>Name:{{first_name}} {{surname}}</h3>
    <h3>Email:{{email}}</h3>

    <div class="buttons-container">
        <button class="create"><a href="/newblog">Post</a></button>
        <button class="blogs"><a href="/userblogs">Blogs</a></button>
        <button class="change"><a href="/preupdate">Update</a></button>
        <form action="/delete" method="POST">
            <button class="delete" type="submit">Delete</button>
        </form>
    </div>

</body>
</html>