<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/profile.css">
    <title>Profile</title>
</head>
<body>
    {{>Nav}}
    <h1>Your profile</h1>
    <h3>Name:{{first_name}} {{surname}}</h3>
    <h3>Email:{{email}}</h3>

    <a href="/newblog">Post a blog</a>
    <a href="/userblogs">All my blogs</a>
    <button class="create"><a href="/update">Update my profile</a></button>

    <form action="/delete" method="POST">
        <button class="delete" type="submit">Delete</button>
    </form>

</body>
</html>