<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register a user</h1>
    
     <form action="/register" method="POST">
        <label for="userName">first name</label><br/>
        <input required type="text" name="userName"><br/>
        <label for="userSurname">surname</label><br/>
        <input required type="text" name="userSurname"><br/>
        <label for="userEmail">email</label>
        <input required type="email" name="userEmail"><br/>
        <label for="userPassword">password</label>
        <input required type="password" name="userPassword"><br/>
        <label for="passwordConfirmation">password confirmation</label>
        <input required type="password" name="passwordConfirmation" ><br />
        <button type="submit">submit</button>
    </form>

    {{#if userError}}
        <p>{{message}}</p>
    {{/if}}
</body>
</html>