
nav {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 0;
    background-color: #7EA3CC; 
    padding: 1em 1em 1em 0;
    margin:0;
}

nav ul li {
    padding-left: 1em;
}

nav ul li a{
    text-decoration: none;
    background-color: #255C99; 
    border-radius: 5%;
    padding: 0.5em;
}

nav ul li a:link {
    color: #A8201A
}

nav ul li a:visited{
    color: #FFBA49;
}

/****IPad - landscape ***************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

   

}

/****IPad - portrait  ***************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

   

}

/**** Small tablet- landscape ***************/
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: landscape) {

   

}

/**** Small tablet- portrait ***************/
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: portrait) {

   

}


@media only screen and (max-width: 500px) {

    nav ul {
        font-size: 0.75rem;
    }

    nav ul li {
        padding-left: 0.75em;
    }


}



@media only screen and (max-width: 350px) {

    nav ul {
        font-size: 0.6rem;
    }
    nav ul li {
        padding-left: 0.25em;
    }

    nav ul li a{
        padding: 0.25em;
        font-size: 1em;
    }

}