body {
    background-color: #FFBA49;
    color: #566246;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 2em;
    top: 0;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 30vw;
    justify-content: space-evenly;
}

.create {
    margin: 1em 0;
    background-color: #255C99;
    border:1px solid #255C99;
    padding: 0.25em;
    /* font-size: 1em; */
    border-radius: 15%;
    color: #7EA3CC;
}

.login {
    margin: 1em 0;
    background-color: #566246;
    border:1px solid #566246;
    padding: 0.25em;
    /* font-size: 1em; */
    border-radius: 15%;
    color: #FFBA49;
}

.create a {
    
    text-decoration: none;
    color: #A8201A;
    font-size: x-large;
}

.login a {

    text-decoration: none;
    color: #7EA3CC;
    font-size: x-large;
}

@media only screen and (max-width: 500px) {

  h1 {
      margin-top: 3rem;
  }

  .buttons-container {
   
    width: 40vw;
   
}

.create a {
    font-size: large;
}

.login a {

    font-size: large;
}

}

@media only screen and (max-width: 350px) {

    h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 1rem;
    }
  
    .buttons-container {
     
      width: 40vw;
     
  }
  
  .create a {
      font-size: medium;
  }
  
  .login a {
  
      font-size: medium;
  }
  
  }
  